.App {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.customDialoge.p-dialog .p-dialog-header-icon {
  display: none;
}
.css-ewdv3l .ps-menuitem-root .ps-submenu-expand-icon .css-1097eso {
  display: contents;
}
